.btn {
  position: relative;

  border-radius: 50px;
  font-size: 1.5rem;
  font-weight: 300;
  text-transform: uppercase;
  color: $color-gray-light-1;
  background-image: linear-gradient(
    90deg,
    $color-primary-dark,
    $color-primary-light
  );
  overflow: hidden;

  &__visible {
    padding: 2rem 8rem;
  }

  &__invisible {
    position: absolute;
    left: 0;
    top: 100%;
    padding: 2rem 0;
    width: 100%;
    height: 100%;
  }

  & > * {
    display: inline-block;
    transition: all 300ms;
  }

  &:hover,
  &:focus {
    background-image: linear-gradient(
      180deg,
      $color-primary-dark,
      $color-primary-light
    );

    & .btn__visible {
      transform: translateY(-100%);
    }

    & .btn__invisible {
      top: 0;
    }
  }
}
