.user-reviews {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

.review {
  position: relative;
  padding: 2.5rem;
  overflow: hidden;
  background-color: $color-gray-light-1;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
  z-index: 1;

  &::before {
    content: "\201C";
    position: absolute;
    top: -2.4rem;
    left: -0.9rem;
    font-size: 20rem;
    line-height: 1;
    font-family: sans-serif;
    color: $color-gray-light-3;
    z-index: 2;
  }

  &__text {
    position: relative;
    z-index: 3;
    margin-bottom: 2rem;
  }

  &__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
  }

  &__author {
    display: flex;
    gap: 2rem;
    align-items: center;
  }

  &__img {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
  }

  &__username {
    font-weight: 600;
  }

  &__date {
    font-size: 1.1rem;
  }

  &__score {
    color: $color-primary;
    font-size: 3rem;
    font-weight: 300;
  }
}
