*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;

  @include respond("tab-land") {
    font-size: 56.25%;
  }

  @include respond("tab-port") {
    font-size: 50%;
  }

  @include respond("phone") {
    font-size: 37.5%;
  }

  @include respond("big-desktop") {
    font-size: 75%;
  }
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  box-sizing: border-box;
  background-color: $color-gray-light-1;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  line-height: 1;
}

ul,
ol {
  list-style: none;
}
