.header {
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 2rem;
  border-bottom: 1px solid $color-gray-light-3;
  background-color: $color-gray-light-1;
  z-index: 999;

  @include respond("phone") {
    position: relative;
    flex-wrap: wrap;
    row-gap: 2rem;
    padding: 1rem 2rem 2rem;
  }
}
